<app-search (search)="search($event)"></app-search>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort matSortDirection="asc" matSortDisableClear style="margin-top:-20px;">

  <ng-container matColumnDef="ship_name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Ship Name</th>
    <td mat-cell *matCellDef="let ship"><a href="javascript:void(0)" (click)="view(ship)" class="table-link">{{ ship.ship_name }} </a></td>
  </ng-container>

  <ng-container matColumnDef="ship_type">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Ship Type</th>
    <td mat-cell *matCellDef="let ship" [innerHtml]="ship.ship_type"></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[20, 40, 60]" ></mat-paginator>
