<h1>OSINTNAV</h1>
<div style="margin-top:-28px;">
  Open Source Intelligence - {{ country_name | titlecase}}
</div>
<a [routerLink]="['']">Dashboard</a>
<div class="container">
  <mat-tab-group animationDuration="0ms" dynamicHeight dynamicHeight="true">
    <mat-tab label="Map">
      <div style="height:700px;">
        <app-map [country]="country" (viewForce)="view($event)"></app-map>
      </div>
    </mat-tab>
    <mat-tab label="Forces">
        <app-forces [country]="country" (viewForce)="view($event)"></app-forces>
    </mat-tab>
    <mat-tab label="Weapons">
      <app-weapons [country]="country" (viewWeapon)="view($event)"></app-weapons>
    </mat-tab>
    <mat-tab label="Vehicles">
      <app-vehicles [country]="country" (viewVehicle)="view($event)"></app-vehicles>
    </mat-tab>
    <mat-tab label="Aircraft">
      <app-aircraft [country]="country" (viewAircraft)="view($event)"></app-aircraft>
    </mat-tab>
    <mat-tab label="Ships">
      <app-ships [country]="country" (viewShip)="view($event)"></app-ships>
    </mat-tab>
    <mat-tab label="Overview">
      <app-overview [country]="country"></app-overview>
    </mat-tab>
  </mat-tab-group>
</div>

<ng-template #viewItemDialog>
  <mat-dialog-actions align="end">
      <i class="fa fa-window-close" mat-button matDialogClose="yes" style="font-size:32px;"></i>
  </mat-dialog-actions>
  <h1>{{ viewItem.name }}</h1>
  <div class="description" [innerHTML]="viewItem.description">
  </div>
  <button type="button" class="btn btn-success close" mat-dialog-close>Close</button>
</ng-template>



