<h1>OSINTNAV</h1>
<div style="margin-top:-28px;">
  Open Source Intelligence - {{ country_name | titlecase}}
</div>
<a [routerLink]="['']">Dashboard</a>
<div class="container">
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Forces">
        <app-forces [country]="country"></app-forces>
    </mat-tab>
    <mat-tab label="Weapons">
      <app-weapons [country]="country"></app-weapons>
    </mat-tab>
    <mat-tab label="Vehicles">
      <app-vehicles [country]="country"></app-vehicles>
    </mat-tab>
  </mat-tab-group>
</div>



